@media screen and (max-width: 1280px) {
  .form-container {
    width: 100% !important;
  }
}

.container-full {
  width: 100%;
  min-height: 80vh;
  margin-top: 100px;
  display: flex;
  justify-content: center; 
  padding-bottom: 1em;
}

.form-container {
  width: 50%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.form-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.title h1 {
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
}

.form-content {
  width: 100%;
  height: 300px;
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-content form {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form-content form button {
  border: 1px solid rgba(27, 31, 35, .4);
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 14px;
  color: #007ba7;
  transition: all .4s ease-out;
}

.form-content form button:hover {
  background-color: #007ba7;
  color: #fff;
  font-weight: 500;
}

.form-content form input {
  border: 1px solid rgba(27, 31, 35, .2);
  border-radius: 6px;
  padding: 12px 20px;
  transition: all .4s linear;
  box-shadow: 0px 2px 1px rgba(0,0,0,0.12);
  font-size: 14px;
}

.form-content form input:focus {
  border: 1px solid rgba(27, 31, 35, .6);
  box-shadow: 0px 2px 3px rgba(0,0,0,0.12);
  font-weight: 500;
}

.cupomInfo {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  height: 200px;
  justify-content: space-evenly;
}

.cupomInfo h2 {
  font-size: 22px;
  font-weight: 500;
}

.cupomInfo p {
  font-weight: 600;
  font-size: 16px;
}

.cupomInfo span {
  font-weight: 400;
  font-size: 15.5px;
}
